span[contenteditable=false] {
  background-color: lightgray;
  border-radius: 2px;
  padding: 1px;
  padding-left: 1px;
  padding-right: 1px;
}

/* */
div[contenteditable=true] {
  /* border: 1px solid darkgray; 
  border-radius: 3px;*/
  padding: 3px;
  color: darkblue;
  display: inline-block;
  width: 700px;
  max-width: 700px;
  margin-left: 0px;
  min-height: 50px;
}/* */

