{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    {% include 'breadcrumb_list.html' %}
  </div>
{% endblock %}

{% block content %}

    {% if object_list %}
      <div class="panel panel-default">

        <!-- Heading and button to add a new author -->
        <form>
          <h3>
            <span title="These are 'gold standard' authors">Authors</span>
            {% if is_lenten_editor %}
              <span id="add_author" class="pull-right">
                {% csrf_token %}
                <a class="btn btn-xs jumbo-3" role="button" 
                    targeturl="{% url 'author_edit' %}"
                    targetid="author_new"
                    onclick="ru.lenten.seeker.manu_edit(this, 'new');">
                  <span class="glyphicon glyphicon-plus"></span>Add an author
                </a>
              </span>
            {% endif %}
          </h3>
        </form>

        <!-- Room to add a new author -->
        <div class="row subform">
          <div class="col-md-offset-1 col-md-10">
            <div id="author_new">
              <!-- Room to create a new author instance-->
            </div>
          </div>
        </div>

        <!-- Top pagination -->
        <div class="row">
            <div class="col-sm-4"><span>Found: </span><span>{{entrycount}}</span></div>
            <div class="col-sm-8">
            <span class="step-links pull-right">

            {% include 'pagination.html' %}

            </span>
            </div>
        </div>

        <!-- Table that lists all authors -->
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead><tr><th class="hidden">id</th><th>&nbsp;</th><th>Author name</th><th><!-- Buttons --></th></tr></thead>
              <tbody>
              {% for author in object_list %}
                <tr class="dict-entry clickable"
                    onclick="ru.lenten.seeker.goto_url('{% url 'author_details' author.id %}')">
                  <td class="hidden"> {{ author.id }}</td>
                  <td class="author-abbr tdnowrap" style="min-width: 100px;">{% if author.abbr %}{{author.abbr}}{% endif %}</td>
                  <td style="width: 100%;">
                    <span class="author-name">{{author.name}}</span>
                  </td>

                  <!-- Short indications for this author-->
                  <td style="min-width: 80px;">
                  </td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <!-- Bottom pagination -->
        <div class="pagination">
            <span class="step-links">

            {% include 'pagination.html' %}

            </span>
        </div>

      {% else %}
        <p>No authors have been found.</p>
      {% endif %}

      </div>

<script>
  ru.lenten.seeker.init_events();
</script>

{% endblock content %}

