{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    {% include 'breadcrumb_list.html' %}
  </div>
{% endblock %}

{% block content %}


      <div class="panel panel-default">

        <!-- Heading and button to add a new sermon-collection -->
        <form>
          <h3>
            <span title="Every sermon belongs to a sermon collection">Sermon collections</span>
            {% if is_lenten_editor %}
              <span id="add_sermon" class="pull-right">
                {% csrf_token %}
                <a class="btn btn-xs jumbo-3" role="button" 
                    href="{% url 'collection_add' %}">
                  <span class="glyphicon glyphicon-plus"></span>Add a collection
                </a>
              </span>
            {% endif %}
          </h3>
        </form>


      {% if object_list %}
        <!-- Top pagination -->
        <div class="row">
            <div class="col-sm-4"><span>Found: </span><span>{{entrycount}}</span></div>
            <div class="col-sm-8">
            <span class="step-links pull-right">

            {% include 'pagination.html' %}

            </span>
            </div>
        </div>

        <!-- Table that lists all sermon collections -->
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="hidden">id</th>
                  <th>Code</th>
                  <th>Title</th>
                  <th>Authors</th>
                  <th>Year</th>
                  <th>Place</th>
                  <th><!-- Buttons --></th>
                </tr>
              </thead>
              <tbody>
              {% for srmcollection in object_list %}
                <tr class="dict-entry">
                  <td class="hidden"> {{ srmcollection.id }}</td>

                  <!-- Show the code -->
                  <td class="tdnowrap">{% if srmcollection.idno %}{{srmcollection.idno}}{% endif %}</td>

                  <!-- Show the Title -->
                  <td class="clickable" title="View the sermon collection"
                      onclick="ru.lenten.seeker.goto_url('{% url 'collection_details' srmcollection.id %}')">{{srmcollection.title}}</td>

                  <!-- Show the Author or Authors -->
                  <td style="width: 100%;" title="{{srmcollection.get_authors}}">{{srmcollection.get_firstauthor}}</td>

                  <!-- Show the year -->
                  <td class="tdnowrap">{{srmcollection.date_comp}}</td>

                  <!-- Show the place for this sermon collection  -->
                  <td class="tdnowrap">{{srmcollection.date_comp}}</td>

                  <!-- Short indications for this sermon-->
                  <td style="min-width: 80px;">
                    {% if is_lenten_editor %}
                      <!-- Edit button -->
                      <a mode="edit" class="view-mode btn btn-xs jumbo-1"
                         onclick="ru.lenten.seeker.goto_url('{% url 'admin:seeker_sermoncollection_change' srmcollection.id %}')">
                        <span class="glyphicon glyphicon-pencil" title="Edit these data"></span>
                      </a>
                    {% endif %}
                  </td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <!-- Bottom pagination -->
        <div class="pagination">
            <span class="step-links">

            {% include 'pagination.html' %}

            </span>
        </div>

      {% else %}
        <p>No sermon collections have been found.</p>
      {% endif %}

      </div>

<script>
  ru.lenten.seeker.init_events();
</script>

{% endblock content %}

