{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    {% include 'breadcrumb_list.html' %}
  </div>
{% endblock %}

{% block scripts %}
  {{collForm.media.css}}
{% endblock %}

{% block content %}

<div>

    <!-- Buttons for elements that are normally hidden -->
    <div class="panel panel-none">
      <div class="row">
        <div class="col-md-2 col-md-offset-10 text-right">
          <span class="">
            <!-- NEW: use filtering instead of 'searching' -->
            <a class="btn btn-sm jumbo-1" data-toggle="collapse" data-target="#tab_filter" role="button" title="Define your filter(s)...">
              <span class="glyphicon glyphicon-search"></span>
            </a>

          </span>
        </div>
      </div>
    </div>

    <!-- Define the filter tab -->
    <form  id="collection_filter" method='post' action="{% url 'collection_list' %}" >
      {% csrf_token %}
      <!-- entrypoint for search_paged_start -->
      <div class="hidden search_paged_start">
        <input name="page" type="text" />
      </div>

      <!-- Filter tab -->
      <div class="inert {% if has_filter %}in{% else %}collapse{% endif %}" id="tab_filter">
        <div class="panel panel-default">
          <!-- Filter interface -->
          <div class="row" id="filter_badges">
            <div class="col-md-2">
              <h4>Selected filters</h4>
            </div>
            <div class="col-md-10">
              <!-- Main filters -->
              <div>
                <h4>
                {% for filter in filters %}
                  {% if not filter.head_id %}
                    <span class="badge filter {% if filter.enabled %} jumbo-3 on {% else %} jumbo-1 {% endif %} " targetid="{{filter.id}}" >{{filter.name}}</span>
                  {% endif %}
                {% endfor %}
                </h4>
              </div>
            </div>
          </div>
              
          <div class="row" id="collection_filter_specs">
            <!-- The column with the different filter sections -->
            <div class="col-md-10">
              <div class="panel panel-default ">

                <!-- Intro -->
                <div><h5>Sermon Collection filters: </h5></div>

                <!-- One or more codes (=idno) -->
                <div id="filter_idno" class="{% if not collForm.idno.value %}hidden{% endif %}">
                  <table style="width: 100%;">
                    <tr class="form-row"><td style="min-width: 130px;">Identifier (Code)</td><td style="width: 100%;">{{collForm.idno}}</td></tr>
                  </table>
                </div>

                <!-- One or more authors -->
                <div id="filter_author" class="{% if not collForm.authorname.value and not collForm.authorlist.value %}hidden{% endif %}">
                  <table style="width: 100%;">
                    <tr class="form-row">
                      <td style="min-width: 130px;" valign="top">Collection</td>
                      <td style="width: 100%;">
                        <span class="author-key hidden">{{collForm.author}}</span>
                        <span>{{collForm.authorname}}</span>
                        <span> or select: </span>
                        <span>{{collForm.authorlist}}</span>
                      </td>
                    </tr>
                  </table>
                </div>

                <!-- One or more title items -->
                <div id="filter_title" class="{% if not collForm.title.value %}hidden{% endif %}">
                  <table style="width: 100%;">
                    <tr class="form-row"><td style="min-width: 130px;">Title</td><td style="width: 100%;">{{collForm.title}}</td></tr>
                  </table>
                </div>

                <!-- One or more place names -->
                <div id="filter_place" class="{% if not collForm.placename.value and not collForm.placelist.value %}hidden{% endif %}">
                  <table style="width: 100%;">
                    <tr class="form-row">
                      <td style="min-width: 130px;">Place</td>
                      <td style="width: 100%;">
                        <span style="min-width: 100px;">{{collForm.placename}}</span>
                        <span> or select: </span>
                        <span>{{collForm.placelist}}</span>
                      </td>
                    </tr>
                  </table>
                </div>

                <!-- Has manuscripts or not -->
                <div id="filter_hasmanu" class="{% if not collForm.title.value %}hidden{% endif %}">
                  <table style="width: 100%;">
                    <tr class="form-row">
                      <td style="min-width: 130px;">Has manuscripts</td>
                      <td style="width: 100%;">{{collForm.hasmanu}}</td>
                    </tr>
                  </table>
                </div>

              </div>
            </div>

          </div>

          <!-- Row with buttons-->
          <div class="row">
            <div class="col-md-2 col-md-offset-10 text-right">
              <!-- Room to reset the search criteria -->
              <span>
                <a role="button" class="btn btn-sm jumbo-1" title="Clear search criteria" onclick="ru.lenten.seeker.search_clear(this);" >Clear</a>
              </span>
              <!-- Submit the search form -->
              <span>
                <a role="button" class="btn btn-sm jumbo-3" title="Start searching..." onclick="ru.lenten.seeker.search_start(this);">Search</a>
              </span>
            </div>
          </div>
        </div>
      </div>

    </form>

    <!-- List tab -->
    <div class="" id="tab_list">
      <div class="panel panel-default">

        <!-- Heading and button to add a new sermon-collection -->
        <form>
          <h3>
            <span title="Every sermon belongs to a sermon collection">Sermon collections</span>
            {% if is_app_editor %}
              <span id="add_sermon" class="pull-right">
                {% csrf_token %}
                <a class="btn btn-xs jumbo-3" role="button" 
                    href="{% url 'collection_add' %}">
                  <span class="glyphicon glyphicon-plus"></span>Add a collection
                </a>
              </span>
            {% endif %}
          </h3>
        </form>


      {% if object_list %}
        <!-- Top pagination -->
        <div class="row">
            <div class="col-sm-4"><span>Found: </span><span>{{entrycount}}</span></div>
            <div class="col-sm-8">
            <span class="step-links pull-right">

            {% include 'pagination.html' %}

            </span>
            </div>
        </div>

        <!-- Table that lists all sermon collections -->
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="hidden">id</th>
                    {% for hd in order_heads %}
                      <th class="sortable tdnowrap" scope="col">
                        <div class="text">
                          {% if hd.order == "" %}{{hd.name}}
                          {% else %}
                          <a href=?{{hd.order}}>{{hd.name}}</a>
                          {% endif %}
                        </div>
                      </th>
                    {% endfor %}
                  <th><!-- Buttons --></th>
                </tr>
              </thead>
              <tbody>
              {% for srmcollection in object_list %}
                <tr class="dict-entry">
                  <td class="hidden"> {{ srmcollection.id }}</td>

                  <!-- Show the code -->
                  <td class="tdnowrap">{% if srmcollection.idno %}{{srmcollection.idno}}{% endif %}</td>

                  <!-- Show the author(s) -->
                  <td class="tdnowrap" title="{{srmcollection.get_authors}}">{{srmcollection.get_firstauthor}}</td>

                  <!-- Show the Title -->
                  <td class="clickable" title="View the sermon collection" style="width: 100%;"
                      onclick="ru.lenten.seeker.goto_url('{% url 'collection_details' srmcollection.id %}')">{{srmcollection.title}}</td>

                  <!-- Show the year -->
                  <td class="tdnowrap">{{srmcollection.datecomp}}</td>

                  <!-- Show the place for this sermon collection  -->
                  <td class="tdnowrap">{{srmcollection.place.name}}</td>

                  <!-- Show the year of the first edition (if any) -->
                  <td class="tdnowrap">{{srmcollection.first_edition}}</td>

                  <!-- Show the number of editions -->
                  <td class="tdnowrap">{{srmcollection.num_editions}}</td>

                  <!-- Short indications for this sermon-->
                  <td style="min-width: 80px;">
                    {% if is_app_editor %}
                      <!-- Edit button -->
                      <a mode="edit" class="view-mode btn btn-xs jumbo-1"
                         onclick="ru.lenten.seeker.goto_url('{% url 'admin:seeker_sermoncollection_change' srmcollection.id %}')">
                        <span class="glyphicon glyphicon-pencil" title="Edit these data"></span>
                      </a>
                    {% endif %}
                  </td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <!-- Bottom pagination -->
        <div class="pagination">
            <span class="step-links">

            {% include 'pagination.html' %}

            </span>
        </div>

      {% else %}
        <p>No sermon collections have been found.</p>
      {% endif %}

      </div>
    </div>
</div>

<script>
  ru.lenten.seeker.init_events();
</script>

{% endblock content %}

{% block endcontent %} 
  {{collForm.media.js }} 
{% endblock %}
