{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    {% include 'breadcrumb_list.html' %}
  </div>
{% endblock %}

{% block scripts %}
  {{ediForm.media.css}}
{% endblock %}

{% block content %}

<div>

    <!-- Buttons for elements that are normally hidden -->
    <div class="panel panel-none">
      <div class="row">
        <div class="col-md-2 col-md-offset-10 text-right">
          <span class="">
            <!-- NEW: use filtering instead of 'searching' -->
            <a class="btn btn-sm jumbo-1" data-toggle="collapse" data-target="#tab_filter" role="button" title="Define your filter(s)...">
              <span class="glyphicon glyphicon-search"></span>
            </a>

          </span>
        </div>
      </div>
    </div>

    <!-- Define the filter tab -->
    <form  id="edition_filter" method='post' action="{% url 'edition_list' %}" >
      {% csrf_token %}
      <!-- entrypoint for search_paged_start -->
      <div class="hidden search_paged_start">
        <input name="page" type="text" />
      </div>

      <!-- Filter tab -->
      <div class="inert {% if has_filter %}in{% else %}collapse{% endif %}" id="tab_filter">
        <div class="panel panel-default">
          <!-- Filter interface -->
          <div class="row" id="filter_badges">
            <div class="col-md-2">
              <h4>Selected filters</h4>
            </div>
            <div class="col-md-10">
              <!-- Main filters -->
              <div>
                <h4>
                {% for filter in filters %}
                  {% if not filter.head_id %}
                    <span class="badge filter {% if filter.enabled %} jumbo-3 on {% else %} jumbo-1 {% endif %} " targetid="{{filter.id}}" >{{filter.name}}</span>
                  {% endif %}
                {% endfor %}
                </h4>
              </div>
            </div>
          </div>
              
          <div class="row" id="edition_filter_specs">
            <!-- The column with the different filter sections -->
            <div class="col-md-10">
              <div class="panel panel-default ">

                <!-- Intro -->
                <div><h5>Edition filters: </h5></div>

                <!-- One or more codes (=idno) -->
                <div id="filter_code" class="{% if not ediForm.code.value %}hidden{% endif %}">
                  <table style="width: 100%;">
                    <tr class="form-row"><td style="min-width: 130px;">Identifier (Code)</td><td style="width: 100%;">{{ediForm.code}}</td></tr>
                  </table>
                </div>

                <!-- One or more authors -->
                <div id="filter_author" class="{% if not ediForm.authorname.value and not ediForm.authorlist.value %}hidden{% endif %}">
                  <table style="width: 100%;">
                    <tr class="form-row">
                      <td style="min-width: 130px;" valign="top">Collection</td>
                      <td style="width: 100%;">
                        <span class="author-key hidden">{{ediForm.author}}</span>
                        <span>{{ediForm.authorname}}</span>
                        <span> or select: </span>
                        <span>{{ediForm.authorlist}}</span>
                      </td>
                    </tr>
                  </table>
                </div>

                <!-- One or more title items -->
                <div id="filter_title" class="{% if not ediForm.title.value %}hidden{% endif %}">
                  <table style="width: 100%;">
                    <tr class="form-row"><td style="min-width: 130px;">Title</td><td style="width: 100%;">{{ediForm.title}}</td></tr>
                  </table>
                </div>

                <!-- One or more place names -->
                <div id="filter_place" class="{% if not ediForm.placename.value and not ediForm.placelist.value %}hidden{% endif %}">
                  <table style="width: 100%;">
                    <tr class="form-row">
                      <td style="min-width: 130px;">Place</td>
                      <td style="width: 100%;">
                        <span style="min-width: 100px;">{{ediForm.placename}}</span>
                        <span> or select: </span>
                        <span>{{ediForm.placelist}}</span>
                      </td>
                    </tr>
                  </table>
                </div>

              </div>
            </div>

          </div>

          <!-- Row with buttons-->
          <div class="row">
            <div class="col-md-2 col-md-offset-10 text-right">
              <!-- Room to reset the search criteria -->
              <span>
                <a role="button" class="btn btn-sm jumbo-1" title="Clear search criteria" onclick="ru.lenten.seeker.search_clear(this);" >Clear</a>
              </span>
              <!-- Submit the search form -->
              <span>
                <a role="button" class="btn btn-sm jumbo-3" title="Start searching..." onclick="ru.lenten.seeker.search_start(this);">Search</a>
              </span>
            </div>
          </div>
        </div>
      </div>

    </form>

    <!-- List tab -->
    <div class="" id="tab_list">
      <div class="panel panel-default">

        <!-- Heading and button to add a new edition -->
        <form>
          <h3>
            <span title="An edition points to a particular sermon collection">Editions</span>
            {% if is_app_editor %}
              <span id="add_sermon" class="pull-right">
                {% csrf_token %}
                <a class="btn btn-xs jumbo-3" role="button" 
                    href="{% url 'edition_add' %}">
                  <span class="glyphicon glyphicon-plus"></span>Add an edition
                </a>
              </span>
            {% endif %}
          </h3>
        </form>


      {% if object_list %}
        <!-- Top pagination -->
        <div class="row">
            <div class="col-sm-4"><span>Found: </span><span>{{entrycount}}</span></div>
            <div class="col-sm-8">
            <span class="step-links pull-right">

            {% include 'pagination.html' %}

            </span>
            </div>
        </div>

        <!-- Table that lists all editions -->
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="hidden">id</th>
                    {% for hd in order_heads %}
                      <th class="sortable" scope="col">
                        <div class="text">
                          {% if hd.order == "" %}{{hd.name}}
                          {% else %}
                          <a href=?{{hd.order}}>{{hd.name}}</a>
                          {% endif %}
                        </div>
                      </th>
                    {% endfor %}
                  <th>Notes?</th>
                  <th><!-- Buttons --></th>
                </tr>
              </thead>
              <tbody>
              {% for edition in object_list %}
                <tr class="dict-entry">
                  <td class="hidden"> {{ edition.id }}</td>

                  <!-- Link to the edition details view -->
                  <td class="clickable" title="View the edition"
                      onclick="ru.lenten.seeker.goto_url('{% url 'edition_details' edition.id %}')">{% if edition.code %}{{edition.code}}{% endif %}</td>

                  <td title="{{edition.sermoncollection.get_authors}}" class="tdnowrap">{{edition.sermoncollection.get_firstauthor}}</td>

                  <!-- Link to the sermon collection of this edition -->
                  <td class="clickable" title="View the sermon collection of this edition" style="width: 100%;"
                      onclick="ru.lenten.seeker.goto_url('{% url 'collection_details' edition.sermoncollection.id %}')">{{edition.sermoncollection.title}}</td>

                  <!-- The place of this edition-->
                  <td class="tdnowrap">{{edition.get_place}}</td>

                  <!-- The publishers of this edition -->
                  <td title="{{edition.get_publisher}}" class="tdnowrap">
                    <span style="font-size: smaller;">
                      {{edition.get_publisher|truncatechars:20}}
                    </span>
                  </td>

                  <!-- The date of this edition -->
                  <td class="tdnowrap">{{edition.get_date}}</td>

                  <!-- Whether this edition contains notes -->
                  <td>{{edition.has_notes}}</td>

                  <!-- Short indications for this edition -->
                  <td style="min-width: 80px;">
                    {% if is_app_editor %}
                      <!-- Edit button -->
                      <a mode="edit" class="view-mode btn btn-xs jumbo-1"
                         onclick="ru.lenten.seeker.goto_url('{% url 'admin:seeker_edition_change' edition.id %}')">
                        <span class="glyphicon glyphicon-pencil" title="Edit these data"></span>
                      </a>
                    {% endif %}
                  </td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <!-- Bottom pagination -->
        <div class="pagination">
            <span class="step-links">

            {% include 'pagination.html' %}

            </span>
        </div>

      {% else %}
        <p>No editions have been found.</p>
      {% endif %}

      </div>
    </div>
</div>

<script>
  ru.lenten.seeker.init_events();
</script>

{% endblock content %}

{% block endcontent %} 
  {{ediForm.media.js }} 
{% endblock %}
