{% extends "generic_details.html" %}
{% load i18n %}

{% block detailsview %}
  <table>
    <tbody>
      <tr class="form-row"><td class="tdnowrap" valign="top">Collection:</td><td class="hoverable"><b>{{instance.collection.title}}</b></td></tr>
      <tr class="form-row"><td class="tdnowrap" valign="top">Code:</td><td class="hoverable">{{instance.code}}</td></tr>
      <tr class="form-row"><td class="tdnowrap" valign="top">Liturgical day:</td><td class="hoverable">{{instance.litday}}</td></tr>
      <tr class="form-row"><td class="tdnowrap" valign="top">Thema:</td><td class="hoverable">{{instance.thema|safe}}</td></tr>
      <tr class="form-row"><td class="tdnowrap" valign="top">Passage:</td><td class="hoverable">{{instance.book.get_bibref}}</td></tr>
      <tr class="form-row"><td class="tdnowrap" valign="top">Division (Latin):</td><td class="hoverable">{{instance.divisionL|safe}}</td></tr>
      <tr class="form-row"><td class="tdnowrap" valign="top">Division (English):</td><td class="hoverable">{{instance.divisionE|safe}}</td></tr>
      <tr class="form-row"><td class="tdnowrap" valign="top">Summary:</td><td class="hoverable">{{instance.summary|escape}}</td></tr>
      <tr class="form-row"><td class="tdnowrap" valign="top">Note:</td><td class="hoverable">{{instance.get_note_display|safe}}</td></tr>
    </tbody>
  </table>

{% endblock detailsview %}