{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    {% include 'breadcrumb_list.html' %}
  </div>
{% endblock %}

{% block scripts %}
  {{cncForm.media.css}}
{% endblock %}

{% block content %}


<div>

    <!-- Buttons for elements that are normally hidden -->
    <div class="panel panel-none">
      <div class="row">
        <div class="col-md-2 col-md-offset-10 text-right">
          <span class="">
            <!-- NEW: use filtering instead of 'searching' -->
            <a class="btn btn-sm jumbo-1" data-toggle="collapse" data-target="#tab_filter" role="button" title="Define your filter(s)...">
              <span class="glyphicon glyphicon-search"></span>
            </a>

          </span>
        </div>
      </div>
    </div>

    <!-- Define the filter tab -->
    <form  id="concepts_filter" method='post' action="{% url 'concept_list' %}" >
      {% csrf_token %}
      <!-- entrypoint for search_paged_start -->
      <div class="hidden search_paged_start">
        <input name="page" type="text" />
      </div>

      <!-- Filter tab -->
      <div class="inert {% if has_filter %}in{% else %}in collapse_issue_77{% endif %}" id="tab_filter">
        <div class="panel panel-default">
          <!-- Filter interface -->
          <div class="row" id="filter_badges">
            <div class="col-md-2">
              <h4>Search filters</h4>
            </div>
            <div class="col-md-10">
              <!-- Main filters -->
              <div>
                <h4>
                {% for filter in filters %}
                  {% if not filter.head_id %}
                    <span class="badge filter {% if filter.enabled %} jumbo-3 on {% else %} jumbo-1 {% endif %} " targetid="{{filter.id}}" >{{filter.name}}</span>
                  {% endif %}
                {% endfor %}
                </h4>
              </div>
            </div>
          </div>
              
          <div class="row" id="concept_filter_specs">
            <!-- The column with the different filter sections -->
            <div class="col-md-10">
              <div class="panel panel-default ">

                <!-- Intro -->
                <div><h5>Concept filters: </h5></div>

                <!-- One or more concept names -->
                <div id="filter_name" class="{% if not cncForm.name.value and not cncForm.cnclist.value %}hidden{% endif %}">
                  <table style="width: 100%;">
                    <tr class="form-row">
                      <td style="min-width: 130px;" valign="top">Concept</td>
                      <td style="width: 100%;">
                        <span class="concept-key hidden">{{cncForm.name}}</span>
                        <span>{{cncForm.cncname}}</span>
                        <span> or select: </span>
                        <span>{{cncForm.cnclist}}</span>
                      </td>
                    </tr>
                  </table>
                </div>

                <!-- One or more languages -->
                <div id="filter_language" class="{% if not cncForm.language.value and not cncForm.lnglist.value %}hidden{% endif %}">
                  <table style="width: 100%;">
                    <tr class="form-row">
                      <td style="min-width: 130px;" valign="top">Language</td>
                      <td style="width: 100%;">
                        <span class="language-key hidden">{{cncForm.language}}</span>
                        <span>{{cncForm.lngname}}</span>
                        <span> or select: </span>
                        <span>{{cncForm.lnglist}}</span>
                      </td>
                    </tr>
                  </table>
                </div>

              </div>
            </div>

          </div>

          <!-- Row with buttons-->
          <div class="row">
            <div class="col-md-2 col-md-offset-10 text-right">
              <!-- Room to reset the search criteria -->
              <span>
                <a role="button" class="btn btn-sm jumbo-1" title="Clear search criteria" onclick="ru.lenten.seeker.search_clear(this);" >Clear</a>
              </span>
              <!-- Submit the search form -->
              <span>
                <a role="button" class="btn btn-sm jumbo-3" title="Start searching..." onclick="ru.lenten.seeker.search_start(this);">Search</a>
              </span>
            </div>
          </div>
        </div>
      </div>

    </form>

    <!-- List tab -->
    <div class="" id="tab_list">
      <div class="panel panel-default">

        <!-- Heading and button to add a new concept -->
        <form>
          <h3>
            <span title="Every concept belongs to one or more sermons">Concepts</span>
            {% if is_app_editor %}
              <span id="add_concept" class="pull-right">
                {% csrf_token %}
                <a class="btn btn-xs jumbo-3" role="button" 
                    href="{% url 'concept_add' %}">
                  <span class="glyphicon glyphicon-plus"></span>Add a concept
                </a>
              </span>
            {% endif %}
          </h3>
        </form>

        {% if object_list %}
          <!-- Top pagination -->
          <div class="row">
              <div class="col-sm-4"><span>Found: </span><span>{{entrycount}}</span></div>
              <div class="col-sm-8">
              <span class="step-links pull-right">

              {% include 'pagination.html' %}

              </span>
              </div>
          </div>

          <!-- Table that lists all sermons -->
          <div class="row">
            <div class="col-md-12">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="hidden">id</th>
                    {% for hd in order_heads %}
                      <th class="sortable tdnowrap" scope="col">
                        <div class="text">
                          {% if hd.order == "" %}{{hd.name}}
                          {% else %}
                          <a href=?{{hd.order}}>{{hd.name}}</a>
                          {% endif %}
                        </div>
                      </th>
                    {% endfor %}
                    <th><!-- Buttons --></th>
                  </tr>
                </thead>
                <tbody>
                {% for cnc in object_list %}
                  <tr class="dict-entry">
                    <td class="hidden"> {{ cnc.id }}</td>

                    <!-- Language of this concept -->
                    <td class="tdnowrap" >{{cnc.get_language_display}}</td>

                    <!-- Concept name-->
                    <td class="clickable" title="View the concept" style="width: 100%;"
                        onclick="ru.lenten.seeker.goto_url('{% url 'concept_details' cnc.id %}')">{% if cnc.name %}{{cnc.name}}{% endif %}</td>

                    <!-- Short indications for this concept-->
                    <td style="min-width: 80px;">
                      {% if is_app_editor %}
                        <!-- Edit button -->
                        <a mode="edit" class="view-mode btn btn-xs jumbo-1"
                           onclick="ru.lenten.seeker.goto_url('{% url 'admin:seeker_concept_change' cnc.id %}')">
                          <span class="glyphicon glyphicon-pencil" title="Edit these data"></span>
                        </a>
                      {% endif %}
                    </td>
                  </tr>

                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <!-- Bottom pagination -->
          <div class="pagination">
              <span class="step-links">

              {% include 'pagination.html' %}

              </span>
          </div>

        {% else %}
          <p>No concepts have been found.</p>
        {% endif %}
      </div>

    </div>

</div>

<script>
  ru.lenten.seeker.init_events();
</script>

{% endblock content %}

{% block endcontent %} 
  {{cncForm.media.js }} 
{% endblock %}
