{% extends "layout.html" %}

{% block content %}

<div class="container body-content">


  <h2>{{ title }}</h2>
  <h3>{{ message }}</h3>

  <address>
      Senior assistant professor<br />
      Department of History and Cultures<br />
      University of Bologna<br />
      Piazza San Giovanni in Monte 2<br />
      40124 Bologna<br />
      Italy<br />
  </address>

  <address>
      <strong>LentenSermons contents:</strong> <a href="mailto:pietro.delcorno3@unibo.it">Pietro Delcorno</a>
  </address>

  <address>
      <strong>Technical support:</strong> <a href="mailto:erwin.komen@ru.nl">Erwin Komen</a><br />
  </address>

</div>
{% endblock %}
