{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}

<div class="container body-content">
  <div class="jumbotron" style="max-height: 180px;">
      <h1>
        <span>Lenten Sermons</span>
      </h1>
      <p class="lead">
        <span style="font-size: larger;">Search facilities to the main late medieval Lenten sermon collections</span>
      </p>
  </div>

  <div class="row">
      <div class="col-md-6 bgimg">
        <h2>
          <span>Project</span>
          <span class="pull-right" style="margin-top: -5px;">
            <a href="https://www.ru.nl/en/staff/researchers/research-facilities/technical-support-and-development/humanities-computer-lab"
               target="_blank"
               title="This implementation is provided by the Humanities lab of Radboud University">
              <img src="https://cls.ru.nl/RU_logo.svg" %}" width="200" alt="RU logo">
            </a>
          </span>
        </h2>
        <p>The “Lenten sermon bestsellers” project, led by <a href="https://radboud.academia.edu/PietroDelcorno">Pietro Delcorno</a>, 
        aims to map and provide several tools to navigate the most popular Lenten sermon collections circulating in late medieval Europe. 
        Lenten preaching played a vital role in processes of mass-communication and identity formation. 
        The web-application is meant to facilitate the identification and analysis of the textual ‘infrastructure’ 
        that supported this widespread socio-religious practice. 
        </p>
        <p>
          In its first phase, the project will map the Lenten sermon collections printed before the Reformation (1470-1520), 
          considering these normative texts as pocket-sized encyclopaedias that reflected and produced the shared (religious) grammar of the time. 
        </p>
        <p>
          More on the project <a href="{% url 'about' %}">here</a>.
        </p>
        <p>A three-minute introduction to Lenten preaching in <a href="https://www.youtube.com/watch?v=Ndr-fzci2FQ">this video</a>.</p>


      </div>
      <div class="col-md-6">
        <div class="home-image" style="position: relative;">
          <img src="{% static 'seeker/content/lenten_homepage.jpg' %}" alt="Homepage Image"
               style="width: 565px; position: absolute; top: -205px;" />
        </div>


      </div>
  </div>

  <div class="row">
      <div class="col-md-6 bgimg">
        <h2>Summary and news</h2>
        <p>The web application currently hosts information about {{sermoncount}} sermons by {{collectioncount}} collections.</p>
        {% if newsitem_list %}
          {% for item in newsitem_list %}
            <div class="panel-news panel-default">
              <div class="panel-heading collapsed" data-toggle="collapse" data-target="#news-item-{{item.id}}">
                <span>{{item.title}}</span>
                <span class="pull-right" style="font-size: smaller;">
                  {% if item.saved %}
                    <i>{{item.saved|date:"j/b/o"}}</i>
                  {% else %}
                    <i>{{item.created|date:"j/b/o"}}</i>
                  {% endif %}
                </span>
              </div>
              <div class="collapse newsitem" id="news-item-{{item.id}}">
                {{item.msg|safe}}
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p><i>(There is no news yet)</i></p>
        {% endif %}
      </div>
      <div class="col-md-6">
        <div >
          <h2>Start your research</h2>
          <p>As entry point, please use the options offered in the above menu (List and Tool). 
          For further information, see the section Instruction. 
          More about the project <a href="{% url 'about' %}">here</a>.
          </p>
          <p>Do you have addition or correction to the data provided? 
          Do you want to collaborate with this project? 
          Please, get in touch with Pietro Delcorno (pietro.delcorno3@unibo.it).</p>
        </div>
      </div>
  </div>
</div>
{% endblock %}
