{% load staticfiles %}

    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container" url_home="{% url 'home' %}">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand">Home
                {% if user.is_authenticated %} [{{user.username}}] {% endif %}
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_superuser %}
                    <li><a href="{% url 'definitions' %}">Definitions</a></li>
                    {% endif %}

                    <!-- if user.is_authenticated -->
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                           aria-haspopup="true" aria-expanded="false">List<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <!-- Used to be 'search_sermon' -->
                          <li><a href="{% url 'author_list' %}">Author</a></li>
                          <li><a href="{% url 'collection_list' %}">Collection</a></li>
                          <li><a href="{% url 'manuscript_list' %}">Manuscript</a></li>
                          <li><a href="{% url 'edition_list' %}">Edition</a></li>
                          <li><a href="{% url 'publisher_list' %}">Publisher</a></li>
                          <li><a href="{% url 'sermon_list' %}">Sermon</a></li>
                        </ul>
                      </li>

                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                           aria-haspopup="true" aria-expanded="false">Tools<span class="caret"></span></a>
                        
                       <ul class="dropdown-menu">
                          <li><a href="{% url 'concept_list' %}">Concepts</a></li>
                          <li><a href="{% url 'litref_list' %}">Reference</a></li>
                          <li><a href="{% url 'tgroup_list' %}">Tag groups</a></li>
                          <li><a href="{% url 'tagkeyword_list' %}">Tags: keyword</a></li>
                          {% if is_app_editor %}
                            <li><a href="{% url 'location_list' %}" title="List of source information">Locations</a></li>
                            <li><a href="{% url 'report_list' %}" title="List reports of uploading etc.">Reports</a></li>
                            <li><a href="{% url 'newsitem_list' %}" title="List news items.">News items</a></li>
                          {% endif %}
                        </ul>
                      </li>

                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                           aria-haspopup="true" aria-expanded="false">Instruction<span class="caret"></span></a>
                        
                       <ul class="dropdown-menu">
                          <li><a href="{% url 'instruction_list' %}">List</a></li>
                          <li><a href="{% static 'seeker/content/LentenManual.pdf' %}">Manual (pdf)</a></li>
                        </ul>
                      </li>

                      {% if is_app_uploader %}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                             aria-haspopup="true" aria-expanded="false">Developers<span class="caret"></span></a>
                        
                         <ul class="dropdown-menu">
                            <li><a href="" title="Upload XML files for LentenSermons">Import Lenten XML</a></li>
                            
                            <li role="separator" class="divider"></li>
                            <li><a href="" title="Upload lists, like names of libraries">Upload lists</a></li>

                          </ul>
                        </li>
                      {% endif %}

                    <!-- endif -->
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                         aria-haspopup="true" aria-expanded="false">More... <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        {% if user.is_authenticated %}
                          <form id="logoutForm" action="{% url 'logout' %}" method="post" class="navbar-right">
                              {% csrf_token %}
                          </form>
                          <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                          <li><a href="{% url 'admin:password_change' %}">Change password</a></li>
                        {% else %}
                          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Log in</a></li>
                          <li><a href="{% url 'signup' %}">Sign up</a></li>
                        {% endif %}
                      </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
